

li{
  background-color: yellow;
}

li:nth-last-of-type(2n+2){
  background-color: green;
}

li:nth-last-of-type(2n+1) {
  text-transform: uppercase;
}

.header{
  color: red;
}

.header em{
  font-size: 40px;
  border: solid black 1px;
}

li{
  font-size: 20px;
}

li em{
  font-weight: bold;
}

.linguagens li:nth-child(-n+3){
  color: aqua;

}  

li.java-color{
  background-color: pink;

}

a{
  text-decoration: none;
  color: blue;
}

a[href*="stack"]:hover{
  color: orangered;
  font-style: italic;
}

a[href*="w3schools"]:hover{
  color: greenyellow;
  font-style: italic;
}

a[href*="mozilla"]:hover{
  color: black;
  font-style: italic;
}

a[href*="devdocs"]:hover{
  color: yellow;
  font-style: italic;
  background-color: black;
}

a[href*="betrybe"]:hover{
  color: green;
  font-style: italic;
}







