p{
  font-family: monospace;
}

.bauru-header{
  font-family: sans-serif;
}

.fato{
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  padding-top: 6px;
  padding-bottom: 6px;
}

.perigo{
  background-color: red;
  color: white;
  font-weight: 1000;
}

p.perigo{
  border: 5px yellow solid;
}

ul.ingredientes-bauru li p{
  background-color: green;
  color: white;
}